# ignoruj pliki pdf we wszystkich folderach
/*.pdf

# ignoruj pliki TAGS (etagsy Emacsa)
/ch6/02/TAGS

# ignoruj pliki *.class w tym folderze i podfolderach
**/*.class

# ignoruj pliki w folderze sourceCode
/sourceCode